body {
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
	margin: auto;
	border: 1px solid black;
}

#score {
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
}

#game-over-message {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
	display: none;
}
